<!-- Nav bar for view -->
<nav id="navbar-view">
    <button class="menu-btn" onclick="toggleMenu()">☰</button>
    <a href="">
        <img src="img/logo.png" alt="Logo" class="logo">
        <span>Mentorship Matching Platform</span>
    </a>
    <a href="#discovery" class="nav-link">Discovery</a>
    <a href="#aboutus" class="nav-link">About Us</a>
    <div>
        <button class="login-btn" type="button" onclick="location.href='src/../login.html'">Log In</button>
        <button class="signup-btn" type="button" onclick="location.href='src/../signup.html'">Sign Up</button>
    </div>
</nav>
<!-- Dropdown menu for mobile view -->
<div id="dropdown-menu" class="dropdown-menu">
    <a href="#discovery" class="nav-link">Discovery</a>
    <a href="#aboutus" class="nav-link">About Us</a>
</div>

<!-- Nav bar for user-->
<nav id="navbar-user">
    <button class="menu-btn" onclick="toggleMenu()">☰</button>
    <a href="">
        <img src="img/logo.png" alt="Logo" class="logo">
        <span>Mentorship Matching Platform</span>
    </a>
    <a href="#discovery" class="nav-link" onclick="loadDiscoveryPage()">Discovery</a>
    <a href="#aboutus" class="nav-link">About Us</a>
    <div class="user-menu">
        <button class="user-icon" onclick="toggleUserMenu()">👤</button>
        <div id="user-dropdown" class="user-dropdown">
            <span class="user-name"></span>
            <button class="profile-btn" onclick="toggleUserMenu(); loadProfilePage()">Profile</button>
            <button class="logout-btn" onclick="logout()">Sign Out</button>
        </div>
    </div>
</nav>
<!-- Dropdown menu for mobile view --> 
    